[class*='--cover'] img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
[class*='--contain'] img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.logo {
  width: 13rem; /* 208/16 */
  aspect-ratio: 208 / 56;
}
.link {
  color: var(--primary-bg);
  font-weight: 600;
  line-height: 1.5; /* 150% */
  padding-inline: 1.5em; /* 24/16 */
  padding-block: 0.75em; /* 12/16 */
  border-radius: 0.25rem; /* 4/16 */
  background: var(--link-bg);
  transition: color 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
}
.link--center {
  margin-inline: auto;
}
.link--arrow {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
  width: fit-content;
}
.link--arrow-small svg {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.375rem;
}
.link--arrow-large svg {
  width: 1.5rem;
  aspect-ratio: 1;
  padding: 0.125rem;
}
.link--arrow svg path {
  fill: var(--primary-bg);
  transition: fill 0.3s ease;
}
.btn {
  padding-inline: 1.5em; /* 24/16 */
  padding-block: 0.75em; /* 12/16 */
  border-radius: 0.25rem;
  border: 0.0625rem solid var(--link-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.75rem; /* 12/16 */
  color: var(--link-bg);
  font-weight: 600;
  line-height: 1.5; /* 150% */
  transition: color 0.3s ease, background 0.3s ease;
}
.btn svg path {
  transition: fill 0.3s ease;
}
.section-header > *:not(:last-child) {
  margin-block-end: 1.5rem; /* 24/16 */
}
.section-header--width {
  text-align: center;
  margin-inline: auto;
  max-width: 36.0625rem;
}
.section-header--margin-bottom {
  margin-block-end: 4.375rem;
}
.section-header--margin > *:not(:last-child) {
  margin-block-end: 2rem; /* 32/16 */
}
.section-header__title {
  color: var(--title-color);
  font-weight: 600;
}
.section-header--white .section-header__title {
  color: var(--primary-bg);
}
.section-header__text {
  font-size: 1.125rem; /* 18/16 */
  line-height: 1.333; /* 133.333% */
}
.section-header__text--color {
  color: var(--portfolio-card-text);
}
.section-header__text p:not(:last-child) {
  margin-block-end: 1rem;
}
.section-header__text strong {
  color: var(--title-color);
  font-weight: 400;
  position: relative;
}
.section-header__text strong::before {
  content: '';
  position: absolute;
  bottom: 0.166667em; /* 3/18 */
  left: 0;
  width: 100%;
  height: 0.334em; /* 6/18 */
  background-color: var(--decor-background-color);
  z-index: -1;
}
.section-header--white .section-header__text {
  color: var(--discuss-text);
}
.section-header__btn svg {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.125rem;
}
.section-header__title.section-header__title--small {
  font-size: clamp(1.5rem, 1.359vw + 1.228rem, 2.375rem); /* 24>38, 320>1350 */
  line-height: 1.316; /* 131.579% */
}
.section-header__title.section-header__title--medium {
  font-size: clamp(2rem, 1.553vw + 1.689rem, 3rem); /* 32>48 320>1350 */
  line-height: 1.167; /* 116.667% */
}
.section-header__title.section-header__title--head {
  font-size: clamp(2rem, 3.883vw + 1.223rem, 4.5rem); /* 32>72 320>1350 */
  line-height: 1.167; /* 116.667% */
}
.section-header__btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.form {
  color: var(--experience-text);
  font-size: 1.125rem;
  line-height: 1.333; /* 133.333% */
}
.form__row,
.form__columns div,
.form__textarea {
  position: relative;
  padding-block-start: 0.875rem;
}
.form__row,
.form__columns {
  margin-block-end: 1.5rem;
}
.form__textarea {
  margin-block-end: 3.125rem;
}
.form__row:hover .form__label,
.form__columns div:hover .form__label,
.form__textarea:hover .form__label {
  color: var(--link-bg);
}

.form__columns div:nth-child(1) {
  margin-inline-end: 1.5rem;
  flex: 0 1 12.5rem;
}
.form__columns div:nth-child(2) {
  flex: 1 1;
}

.form__textarea textarea {
  min-height: 3rem;
}

.form__input,
.form__textarea textarea {
  border-bottom: 0.125rem solid var(--portfolio-card-border);
  transition: border-bottom 0.3s ease;
  color: var(--link-bg);
}
.form__input:focus,
.form__textarea textarea:focus {
  border-color: var(--link-bg);
}
.form__label {
  position: absolute;
  top: 0;
  left: 0;
  transition: color 0.3s ease, font-size 0.3s ease;
}
.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label,
.form__textarea textarea:focus + .form__label,
.form__textarea textarea:not(:placeholder-shown) + .form__label {
  color: var(--link-bg);
  font-size: 0.75rem;
}

.form__link {
  overflow: hidden;
}
.form__link svg {
  transition: transform 0.3s ease;
}

@media (any-hover: hover) {
  .link:hover {
    box-shadow: var(--hover-link-box-shadow);
  }
  .link:active {
    color: var(--link-bg);
    background: var(--active-link-background);
  }
  .btn:hover {
    background: var(--link-bg);
    color: var(--primary-bg);
  }
  .btn:hover svg path {
    fill: var(--primary-bg);
  }
  .btn:active {
    background: var(--active-link-background);
    color: var(--link-bg);
  }
  .btn:active svg path,
  .link--arrow:active svg path {
    fill: var(--link-bg);
  }
  .form__link:hover svg {
    transform: translateX(0.625rem);
  }
  .form__link:active svg {
    transform: translateX(3.125rem);
  }
  .form__link:active {
    box-shadow: inherit;
  }
  .form__input:hover::placeholder,
  .form__textarea textarea:hover::placeholder {
    color: var(--link-bg);
  }
  .form__input:hover,
  .form__textarea textarea:hover {
    border-bottom: 0.125rem solid var(--link-bg);
  }
}
@media (min-width: 37.4988rem) {
  .form__columns {
    display: flex;
  }
}
@media (max-width: 68.7488rem) {
  .section-header--margin-bottom {
    margin-block-end: 2rem;
  }
}
@media (max-width: 37.4988rem) {
  .form__columns div:not(:last-child) {
    margin-block-end: 1.5rem;
  }
}
@media (max-width: 29.9988rem) {
  .section-header__btns {
    flex-direction: column;
  }
  .section-header__btns > * {
    width: 100%;
    text-align: center;
  }
}
