@import 'style.css';

.hero {
  min-block-size: 100svh;
  position: relative;
  padding-block: 3.75rem; /* 60/16 */
}
.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero__container {
  position: relative;
}
.hero__title {
  color: var(--primary-title);
  text-align: center;
  font-size: 1.5625rem; /* 25/16 */
  font-weight: 300;
  line-height: 1.25; /* 125% */
  letter-spacing: 0.0625rem;
}

.contact__container {
  display: grid;
  column-gap: 2rem; /* 32/16 */
  row-gap: 1.5rem; /* 24/16 */
}
.contact__content {
  line-height: 1.556; /* 155.556% */
}
.contact__text {
  font-weight: 300;
}
.contact__text p:not(:last-child) {
  margin-block-end: 1rem; /* 16/16 */
}
.contact__title {
  font-weight: 700;
  margin-block-end: 1rem; /* 16/16 */
}
.contact__list {
  margin-block-end: 1rem; /* 16/16 */
}
.contact__list li:not(:last-child) {
  margin-block-end: 1rem; /* 16/16 */
}
.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* 8/16 */
}
.form__line input,
.form__textarea textarea {
  padding-inline: 1rem;
  padding-block: 1.25rem; /* 20/16 */
  border: 0.0625rem solid var(--primary-text);
  transition: background-color 0.3s;
}
.form__line input::placeholder,
.form__textarea textarea::placeholder {
  color: var(--primary-text);
  line-height: 1.556; /* 155.556% */
}
.form__textarea textarea {
  min-block-size: 16rem; /* 256/16 */
}
.form__line:focus,
.form__textarea:focus {
  background-color: var(--hover-input);
}
.form__btn {
  color: var(--pramary-bg);
  background-color: var(--primary-title);
  padding-inline: 1.875rem; /* 30/16 */
  padding-block: 1.25rem; /* 20/16 */
  transition: background 0.3s;
}
@media (any-hover: hover) {
  .form__btn:hover {
    background-color: var(--primary-text);
  }
  .form__btn:active {
    background-color: var(--primary-title);
  }
  .form__line input:hover,
  .form__textarea textarea:hover {
    background-color: var(--hover-input);
  }
}
@media (min-width: 479.98px) {
  .contact {
    padding-block: 3.75rem 1.875rem; /* 30/16 */
  }
  .hero__title {
    font-size: clamp(1.563rem, 1.641vw + 1.07rem, 2.5rem); /* 25>40 480>1394 */
  }
  .hero__title strong {
    font-size: clamp(1.563rem, 2.188vw + 0.906rem, 2.813rem); /* 25>45 480>1394 */
  }
  .contact__text--margin-bottom {
    margin-block-end: 2.5rem; /* 40/16 */
  }
}
@media (min-width: 767.98px) {
  .contact__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 479.98px) {
  .contact {
    padding-block: 1.875rem; /* 30/16 */
  }
  .contact__text--margin-bottom {
    margin-block-end: 1.5rem; /* 24/16 */
  }
}
