body {
  color: var(--primary-text);
  font-family: var(--main-font-family);
  background-color: var(--pramary-bg);
  font-size: 1.125rem; /* 18/16 */
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

[class*='__container'] {
  max-width: 87.125rem; /* 1394/16 */
  margin-inline: auto;
  padding-inline: 0.9375rem; /* 15/16 */
}
