.header {
  position: sticky;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  z-index: 50;
  background-color: var(--pramary-bg);
}
.header__container {
  min-height: 4rem; /* 64/16 */
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  column-gap: 2rem; /* 32/16 */
}
.header__logo {
  position: relative;
  z-index: 5;
}
.header__logo a {
  position: relative;
  z-index: 5;
  width: 4rem; /* 64/16 */
  aspect-ratio: 1;
}
.menu ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.625rem; /* 10/16 */
  color: var(--primary-title);
  font-style: normal;
  line-height: 1.167; /* 116.667% */
  letter-spacing: 0.0625rem;
}
.menu a {
  transition: color 0.3s;
}
.menu__active {
  color: var(--primary-text);
  font-weight: 900;
}
.header__actions {
  position: relative;
  z-index: 5;
}
.actions-header {
  justify-self: center;
}
.actions-header__link a {
  aspect-ratio: 1;
}
.actions-header__link--phone a {
  width: 2rem; /* 32/16 */
}
.actions-header__link--youtube a {
  width: 2.75rem; /* 44/16 */
}
.actions-header__link--phone a img {
  filter: var(--phone-image-color);
}
.actions-header__link--youtube a img {
  filter: var(--youtube-image-color);
}
.icon-menu {
  display: none;
}
@media (any-hover: hover) {
  .menu a {
    position: relative;
  }
  .menu a::after {
    content: '';
    position: absolute;
    inset-block-end: -0.125rem; /* 2/16 */
    inset-inline-start: 50%;
    inline-size: 0;
    block-size: 0.0625rem; /* 1/16 */
    background-color: var(--primary-text);
    transition: inline-size 0.5s ease, inset-inline-start 0.5s ease;
  }
  a.menu__active::after {
    display: none;
  }
  .menu a:hover {
    color: var(--primary-text);
  }
  .menu a:hover::after {
    inline-size: 100%;
    inset-inline-start: 0;
  }
}
@media (min-width: 991.98px) {
  .actions-header__link--phone {
    display: none;
  }
  .header__logo a {
    width: 7.4375rem; /* 119/16 */
  }
  .header__container {
    min-height: 7.4375rem; /* 119/16 */
  }
}
@media (min-width: 1393.98px) {
  .menu ul {
    column-gap: 2.5rem; /* 40/16 */
    font-size: 1.5rem; /* 24/16 */
  }
}
@media (max-width: 1393.98px) and (min-width: 991.98px) {
  .menu ul {
    column-gap: clamp(1.5rem, 3.98vw - 0.968rem, 2.5rem); /* 24>40 992>1394 */
    font-size: clamp(1.125rem, 1.493vw + 0.2rem, 1.5rem); /* 18>24 992>1394 */
  }
}
@media (max-width: 991.98px) and (min-width: 479.98px) {
  .header__container {
    min-height: 5.625rem; /* 90/16 */
  }
  .header__logo a {
    width: 5.625rem; /* 90/16 */
  }
  .menu::after {
    block-size: 5.625rem; /* 90/16 */
  }
}
@media (max-width: 991.98px) {
  .actions-header {
    display: flex;
    column-gap: 2rem;
    align-items: center;
  }
  .menu-open body {
    overflow: hidden;
  }

  .icon-menu {
    display: flex;
    flex-basis: 1.875rem;
    inline-size: 1.875rem;
    flex-shrink: 0;
    flex-direction: column;
  }
  .icon-menu::before,
  .icon-menu::after,
  .icon-menu span {
    block-size: 0.25rem;
    inline-size: 100%;
    background-color: var(--primary-text);
  }
  .icon-menu::before,
  .icon-menu::after {
    content: '';
    transition: transform 0.3s ease;
  }
  .icon-menu span {
    margin-block: 0.375rem;
    transition: inline-size 0.3s ease, margin-block 0.3s ease, block-size 0.3s ease;
    align-self: flex-end;
  }
  .menu-open .icon-menu span {
    inline-size: 0;
    margin-block: 0;
    block-size: 0;
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg) translateY(0.1875rem);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg) translateY(-0.1875rem);
  }

  .header__container {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .menu,
  .menu::after {
    position: fixed;
    inset-block-start: 0;
    inset-inline: 100%;
    inline-size: 100%;
    transition: left 0.3s ease;
  }
  .menu {
    block-size: 100%;
    padding-block: 7.5rem 2.5rem;
    padding-inline: 0.9375rem; /* 15/16 */
    overflow-y: auto;
    background-color: var(--pramary-bg);
  }
  .menu::after {
    content: '';
    background-color: var(--pramary-bg);
  }
  .menu-open .menu,
  .menu-open .menu::after {
    inset-inline-start: 0;
  }
  .menu ul {
    flex-direction: column;
    row-gap: 2.5rem; /* 40/16 */
    font-size: 2.5rem; /* 40/16 */
    text-align: right;
  }
}
@media (max-width: 479.98px) {
  .menu {
    padding-block: 6rem 2.5rem;
  }
  .menu::after {
    block-size: 4rem; /* 64/16 */
  }
  .menu ul {
    row-gap: 2.5rem; /* 40/16 */
    font-size: 1.75rem; /* 28/16 */
  }
}
