@import 'style.css';

.hero {
  padding-block: 7.875rem 6.9375rem;
}
.position {
  padding-block-start: 6.9375rem;
  margin-block-end: -7rem;
}
.process {
  padding-block: 15.5rem 8.75rem;
  background: var(--img-bg);
}
.portfolio {
  padding-block: 6.25rem;
}
.discuss {
  background: var(--title-color);
  padding-block: 6.25rem;
}
.blog {
  padding-block: 6.25rem;
}
.planning {
  background: var(--img-bg);
  padding-block: 9.375rem;
}
.happy {
  padding-block: 6.25rem 3.125rem;
}
.testimonial {
  text-align: center;
  padding-block: 3.125rem;
}
.information {
  padding-block-start: 3.125rem;
  margin-block-end: -5.5rem;
  position: relative;
}
.hero__container {
  display: grid;
  column-gap: 8.5rem; /* 136/16 */
  row-gap: 8.875rem; /* 142/16 */
  align-items: end;
  position: relative;
}
.hero__section-header .section-header__title {
  opacity: 0;
  transform: translateY(0.625rem);
  animation: opacity 0.5s linear 0.5s forwards, translate-top 0.5s linear 0.5s forwards;
}
.hero__section-header .section-header__text {
  opacity: 0;
  transform: translateY(0.625rem);
  animation: opacity 0.5s linear 0.8s forwards, translate-top 0.5s linear 0.8s forwards;
}
.hero__img {
  max-width: 33.5rem;
  aspect-ratio: 536 / 636;
  align-self: start;
  position: relative;
}
.hero__img img {
  background-color: var(--primary-bg);
  border-radius: 1.5625rem; /* 25/16 */
  box-shadow: var(--img-box-shadow);
  opacity: 0;
  animation: opacity 0.5s linear forwards 0.3s;
}
.hero__section-header .section-header__link {
  opacity: 0;
  transform: scale(2);
  animation: opacity 0.5s linear 1.5s forwards, scale-basic 0.5s linear 1.5s forwards;
}
.hero__experience {
  opacity: 0;
  transform: translateY(0.625rem);
  animation: opacity 0.5s linear 1s forwards, translate-top 0.5s linear 1s forwards;
}
.hero__img::before,
.hero__img::after {
  content: '';
  position: absolute;
  filter: blur(300px);
  transform: rotate(-130.444deg);
}
.hero__img::before {
  left: 52.612%; /* 282/536 */
  top: -133.012%; /* -846/636 */
  width: 162.5%; /* 871/536 */
  aspect-ratio: 1;
  border-radius: 100%;
  background: var(--first-gradient-hero);
  z-index: -2;
}
.hero__img::after {
  left: 98.134%; /* 526/536 */
  top: 28.774%; /* 183/636 */
  width: 194.777%; /* 1044/536 */
  aspect-ratio: 1;
  border-radius: 100%;
  background: var(--second-gradient-hero);
  z-index: -1;
}

.experience {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  column-gap: 0.155%; /* 1/648 */
}
.experience__item {
  flex: 1 1 10.5rem;
  padding-block: 1rem;
  padding-inline: 0.5rem; /* 8/16 */
  border-radius: 0.375rem; /* 6/16 */
  border: 0.0625rem solid var(--primary-bg);
  background: var(--active-link-background);
}
.experience__number {
  color: var(--experience-number);
  font-size: 2rem; /* 32/16 */
  font-weight: 600;
  line-height: 1.25; /* 125% */
  margin-block-end: 0.5rem; /* 8/16 */
}
.experience__text {
  color: var(--experience-text);
  line-height: 1.5; /* 150% */
}

.position__body {
  background-color: var(--primary-bg);
  box-shadow: var(--background-box-shadow);
  border-radius: 1rem;
  position: relative;
}
.position__body::before {
  content: '';
  position: absolute;
  top: -13.25rem;
  left: -6.6875rem;
  width: 92.5625rem;
  aspect-ratio: 1;
  border-radius: 100%;
  filter: blur(350px);
  background: linear-gradient(
    182deg,
    rgba(255, 234, 198, 0.2) -157.44%,
    rgba(255, 234, 198, 0.14) 216.94%,
    rgba(255, 234, 198, 0.13) 216.94%
  );
  z-index: -3;
}
.position__body::after {
  content: '';
  position: absolute;
  bottom: -0.25rem;
  left: -25.8125rem;
  width: 33.8125rem;
  height: 14.125rem;
  border-radius: 33.8125rem;
  background: linear-gradient(
    182deg,
    #ffdfa8 -157.44%,
    rgba(255, 226, 176, 0.96) -157.4%,
    rgba(255, 234, 198, 0.67) 216.94%,
    rgba(250, 211, 144, 0.8) 216.94%
  );
  filter: blur(100px);
  z-index: -1;
  transform: rotate(-30deg);
}
.position__inner {
  position: relative;
  padding-block-end: 2.25rem;
  align-self: start;
}
.position__img {
  max-width: 26.5rem;
  aspect-ratio: 424 / 468;
  border-radius: 0.625rem;
  border: 0.0625rem solid var(--img-bg);
  background-color: var(--img-bg);
}
.position__img img {
  border-radius: 0.625rem;
}
.position__icons {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.25rem;
  background: var(--primary-bg);
  box-shadow: var(--icons-box-shadow);
}
.icons {
  padding: 0.75rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 16.5rem;
  width: 100%;
}
.icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9375rem;
  width: 3rem;
  height: 3rem;
  border-radius: 0.25rem;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}
.icons img {
  transition: filter 0.3s ease;
}
.position__content {
  align-self: center;
}
.process__section-header .section-header__text {
  color: var(--experience-text);
}
.process__columns {
  counter-reset: process-columns;
}
.process__column {
  border-radius: 0.75rem;
  background: var(--primary-bg);
  box-shadow: var(--cards-box-shadow);
  padding: 2rem;
  counter-increment: process-columns;
}
.process__icon svg {
  width: 4.5rem;
  height: 4.5rem;
  padding: 1.25rem;
  border-radius: 0.375rem;
  background: var(--active-link-background);
  transition: background 0.3s ease;
}
.process__icon svg path {
  fill: var(--link-bg);
  transition: fill 0.3s ease;
}
.process__icon {
  margin-block-end: 2rem;
}
.process__subtitle {
  margin-block-end: 0.75rem;
  color: var(--title-color);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
}
.process__subtitle::before {
  content: counter(process-columns) '.';
  margin-inline-end: 0.5rem;
}
.process__text {
  line-height: 1.5; /* 150% */
}
.process__text p:not(:last-child) {
  margin-block-end: 0.5rem;
}

.portfolio__columns {
  margin-block-end: 3.125rem;
}
.columns-portfolio {
  gap: 1.5rem;
}
.columns-portfolio__item {
  border-radius: 0.5rem;
  border: 0.0625rem solid var(--portfolio-card-border);
  transition: box-shadow 0.3s ease;
  background-color: var(--primary-bg);
}
.columns-portfolio__img {
  width: 100%;
  aspect-ratio: 424 / 248;
}
.columns-portfolio__img img {
  border-radius: 0.5rem 0.5rem 0 0;
}
.columns-portfolio__body {
  padding: 2rem;
}
.columns-portfolio__label {
  color: var(--portfolio-card-text);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.333; /* 133.333% */
  margin-block-end: 0.25rem;
}
.columns-portfolio__title {
  color: var(--title-color);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.333; /* 133.333% */
  margin-block-end: 0.75rem;
}
.columns-portfolio__text {
  margin-block-end: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.429; /* 142.857% */
}
.columns-portfolio__text p:not(:last-child) {
  margin-block-end: 0.5rem;
}
.columns-portfolio__btn {
  width: fit-content;
}
.columns-portfolio__btn svg {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.375rem;
}
.portfolio__links {
  text-align: center;
}
.main__discuss {
}
.discuss__container {
  max-width: 40.6875rem;
}
.discuss__section-header {
  text-align: center;
}
.blog__container {
  position: relative;
}
.blog__container::after,
.blog__container::before {
  content: '';
  position: absolute;
  aspect-ratio: 1;
  z-index: -1;
  border-radius: 100%;
  transform: rotate(-130.444deg);
}
.blog__container::before {
  width: 54.4375rem;
  top: -39.875rem;
  left: -76.815%; /* -1037/1350 */
  background: var(--first-gradient-hero);
  filter: blur(250px);
}
.blog__container::after {
  width: 65.25rem;
  top: -32.8125rem;
  right: -83.259%; /* -1124/1350 */
  background: var(--second-gradient-hero);
  filter: blur(300px);
}
.portfolio__section-header {
  max-width: 33.75rem;
}
.blog__section-header .section-header__text {
  line-height: 1.444; /* 144.444% */
}
.blog__columns {
  margin-block-end: 1.5rem;
}
.columns-blog__item {
  border-radius: 0.5rem;
  border: 0.0625rem solid var(--img-bg);
  transition: box-shadow 0.3s ease;
  background-color: var(--primary-bg);
}
.columns-blog__img {
  aspect-ratio: 312 / 226;
}
.columns-blog__img img {
  border-radius: 0.5rem 0.5rem 0 0;
}
.columns-blog__body {
  padding: 1.5rem;
}
.columns-blog__label {
  color: var(--portfolio-card-text);
  font-size: 0.875rem;
  line-height: 1.429; /* 142.857% */
  margin-block-end: 0.5rem;
}
.columns-blog__title {
  color: var(--blog-title);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.333; /* 133.333% */
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.75rem;
  margin-inline: auto;
  font-size: 0;
}
.pagination li a {
  height: 0.5rem;
  width: 0.5rem;
  background-color: var(--pagination-dot);
  border-radius: 50%;
  transition: background 0.3s ease;
  cursor: pointer;
}
.pagination .pagination__active a {
  width: 1.875rem;
  border-radius: 6.25rem;
  background: var(--pagination-dot-active);
}
.pagination li a:hover {
  background: var(--pagination-dot-active);
}

.rows-planning__item {
  padding: 2rem;
  border-radius: 0.375rem;
  background-color: var(--primary-bg);
  transition: box-shadow 0.3s ease;
  position: relative;
}
.rows-planning__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0.3125rem;
  height: 100%;
  background-color: var(--link-bg);
  border-radius: 0.375rem 0 0 0.375rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.rows-planning__item:not(:last-child) {
  margin-block-end: 1.5rem;
}
.rows-planning__title {
  color: var(--title-color);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1; /* 24px */
  margin-block-end: 1rem;
}
.rows-planning__text {
  color: var(--experience-number);
  line-height: 1.5; /* 150% */
}
.happy__section-header {
  margin-block-end: 1.5rem;
}
.happy__companies {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, minmax(8rem, 12.5rem));
  gap: 1.5rem;
  font-size: 0;
}

.happy__item a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.happy__item img {
  aspect-ratio: 1;
  padding: 15%; /* 30/200 */
  filter: brightness(0) invert(81%) sepia(5%) saturate(276%) hue-rotate(177deg) brightness(92%)
    contrast(93%);
  transition: filter 0.3s ease 0s;
}
.happy__item a:hover img {
  filter: none;
}
.happy__item--amazon img {
  padding-block-start: 27.5%; /* 55/200 */
  align-self: flex-start;
}
.testimonial__container {
  max-width: 56.375rem;
  position: relative;
}
.testimonial__container::before {
  content: '';
  top: -12.1875rem;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 92.5625rem;
  aspect-ratio: 1;
  background: linear-gradient(
    182deg,
    rgba(255, 234, 198, 0.2) -157.44%,
    rgba(255, 234, 198, 0.14) 216.94%,
    rgba(255, 234, 198, 0.13) 216.94%
  );
  border-radius: 100%;
  filter: blur(350px);
  z-index: -1;
}
.testimonial__quote {
  color: var(--testimonial-text);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.333; /* 133.333% */
  margin-block-end: 1.5rem;
}
.testimonial__fullname {
  color: var(--global-black);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.444; /* 144.444% */
  margin-block-end: 0.5rem;
}
.testimonial__position {
  color: var(--global-black);
  font-weight: 300;
  line-height: 1.5; /* 150% */
  margin-block-end: 3.125rem;
}

.information__body {
  padding: 5.5rem;
  border-radius: 0.9375rem;
  background: var(--primary-bg);
  box-shadow: var(--information-shadow-box);
}
.information__text {
  color: var(--portfolio-card-text);
  font-size: 1.125rem;
  line-height: 1.333; /* 133.333% */
  margin-block-end: 3.125rem;
}
.information__section-header,
.information__contacts {
  margin-block-end: 2.1875rem;
}
.information__section-header .section-header__title {
  margin-block-end: 1rem;
}
.contacts {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.75rem;
}
.contacts__item {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  column-gap: 0.8125rem;
  border-radius: 0.625rem;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}
.contacts__svg {
  width: 3rem;
  height: 3rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  background: var(--active-link-background);
  transition: background 0.3s ease;
}
.contacts__item .contacts__svg path {
  fill: var(--link-bg);
  transition: fill 0.3s ease;
}
.contacts__item:hover .contacts__svg {
  background: var(--link-bg);
}
.contacts__item:hover .contacts__svg path {
  fill: var(--primary-bg);
}
.contacts__content {
}
.contacts__title {
  color: var(--experience-numbe);
  font-size: 0.875rem;
  line-height: 1.429; /* 142.857% */
}
.contacts__info {
  color: var(--title-color);
  font-weight: 500;
  line-height: 1.5; /* 150% */
}
@media (any-hover: hover) {
  .icons a:hover {
    box-shadow: var(--icons-box-shadow);
    background-color: var(--link-bg);
  }
  .icons a:hover img {
    filter: brightness(0) invert(1);
  }
  .icons a:active {
    background-color: var(--active-link-background);
  }
  .icons a:active img {
    filter: none;
  }
  .process__column:hover svg {
    background: var(--link-bg);
  }
  .process__column:hover svg path {
    fill: var(--primary-bg);
  }
  .columns-portfolio__item:hover,
  .columns-blog__item:hover {
    box-shadow: var(--icons-box-shadow);
  }
  .rows-planning__item:hover {
    box-shadow: var(--row-planning-shadow-box);
  }
  .rows-planning__item:hover::before {
    opacity: 1;
    visibility: visible;
  }

  .contacts__item:hover {
    background: var(--primary-bg);
    box-shadow: var(--icons-box-shadow);
  }
}
@media (min-width: 61.9988em) {
  .hero__img {
    grid-row: span 2;
  }
  .process__container {
    display: grid;
    grid-template-columns: 529fr 648fr;
    column-gap: 8.9375rem;
    align-items: center;
  }
  .position__section-header {
    align-self: center;
  }
  .process__columns {
    align-self: start;
  }
  .columns-portfolio {
    grid-template-columns: repeat(3, 1fr);
  }
  .columns-blog {
    grid-template-columns: repeat(4, 1fr);
  }
  .information__body {
    display: grid;
    grid-template-columns: 481fr 560fr;
    column-gap: 6.4375rem;
    align-items: center;
    justify-content: center;
  }
  .contacts__item {
    flex-basis: 19.5rem;
    padding: 1.5rem;
  }
}
@media (min-width: 47.9988em) {
  .hero__container {
    grid-template-columns: 648fr 536fr;
    grid-template-rows: 1fr auto;
  }
  .position__body {
    padding: 7rem;
    display: grid;
    grid-template-columns: 424fr 536fr;
    column-gap: 8.5rem;
  }
  .planning__container {
    display: grid;
    align-items: center;
    grid-template-columns: 529fr 648fr;
    column-gap: 8.9375rem;
  }
  .planning__section-header .section-header__text {
    margin-block-end: 3.125rem;
  }
}

@media (min-width: 37.4988em) {
  .process__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
  .process__column:nth-child(odd) {
    margin-block-end: 1.5rem;
  }
  .process__column:nth-child(even) {
    margin-block-start: 1.5rem;
  }
  .columns-portfolio {
    display: grid;
  }
  .columns-blog {
    display: grid;
    gap: 1.5rem;
  }
}
@media (max-width: 61.9988em) and (min-width: 37.4988em) {
  .columns-portfolio {
    grid-template-columns: repeat(2, 1fr);
  }
  .columns-blog {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 79.374rem) {
  .hero__container {
    gap: 2rem;
    align-items: center;
  }
  .process__container {
    gap: 2rem;
  }
}
@media (max-width: 74.9988em) {
  .position__body {
    padding: 5rem;
    column-gap: 2rem;
  }
}
@media (max-width: 68.7488em) {
  .hero {
    padding-block: 3rem;
  }
  .position,
  .information {
    padding-block-start: 3rem;
  }
  .process {
    padding-block: 10rem 3rem;
    background: var(--img-bg);
  }
  .portfolio,
  .blog,
  .planning,
  .testimonial {
    padding-block: 3rem;
  }

  .portfolio__columns {
    margin-block-end: 2rem;
  }
  .discuss {
    padding-block: 3rem;
  }
  .planning__container {
    column-gap: 2rem;
  }
  .happy__companies {
    grid-template-columns: repeat(3, minmax(8rem, 12.5rem));
    gap: 0.5rem;
  }
}
@media (max-width: 61.9988em) {
  .experience {
    grid-column: span 2;
  }
  .position__body {
    padding: 2rem;
  }
  .process__section-header {
    margin-block-end: 2rem;
    text-align: center;
    max-width: 33.75rem;
    margin-inline: auto;
  }
  .contacts__item {
    flex-basis: 15.625rem;
  }
  .information__body {
    padding: 2rem;
  }
  .information__content {
    margin-block-end: 2rem;
  }
  .information__icons {
    padding: 0;
  }
}
@media (max-width: 47.9988em) {
  .hero__img,
  .hero__content {
    grid-column: span 2;
  }
  .hero__img {
    order: -1;
    margin-inline: auto;
  }
  .hero__section-header .section-header__link {
    width: 100%;
    text-align: center;
  }
  .position__inner {
    margin-block-end: 2rem;
  }
  .position__img {
    margin-inline: auto;
  }
  .columns-portfolio__body {
    padding: 1rem;
  }
  .planning__section-header {
    text-align: center;
    max-width: 33.75rem;
    margin-inline: auto;
    margin-block-end: 2rem;
  }
  .main__planning .section-header__link {
    width: 100%;
  }
}
@media (max-width: 37.4988em) {
  .process__column:not(:last-child),
  .columns-portfolio__item:not(:last-child),
  .columns-blog__item:not(:last-child) {
    margin-block-end: 1.5rem;
  }
  .position__body,
  .information__body {
    padding-inline: 0.9375rem;
    padding-block: 1.5rem;
  }
  .position__container,
  .information__container {
    padding-inline: 0;
  }
}
@media (max-width: 29.9988em) {
  .portfolio__link {
    width: 100%;
  }
  .hero {
    padding-block: 3rem 1.5rem;
  }
  .position,
  .information {
    padding-block-start: 1.5rem;
  }
  .process {
    padding-block: 10rem 1.5rem;
  }
  .portfolio,
  .blog,
  .discuss,
  .planning,
  .happy,
  .testimonial {
    padding-block: 1.5rem;
  }
  .happy__companies {
    grid-template-columns: repeat(2, minmax(8rem, 12.5rem));
  }
}
